/* header */
.header-logo-img {
  height: 60px;
}

/* .page {
  transition: opacity 0.5s ease;
} */

.hd-marginLeft {
  margin-left: 110px;
}

.nav-box {
  opacity: 0;
  position: absolute;
  top: 60px;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 2s ease;
}

.nav-box.alg-nav-box {
  opacity: 1;
  max-height: 1000px;
  box-shadow: 0rem 0.4rem rgba(145, 88, 88, 0.1);
}

.alg-user-Word {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

.img {
  margin-left: -10px;
}

/* home */

.ld-s1-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../resources/images/mainImg.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 8%;
}

/* home slider */

.mainSlider.swiper {
  width: 100%;
  height: 478px;
}

@media (max-width: 768px) {
  .mainSlider.swiper {
    height: 439px;
  }
}

@media (max-width: 440px) {
  .mainSlider.swiper {
    height: 239px;
  }
}

.mainSlider.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* category */

.category-swiper.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.category-swiper.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 280px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.about-us-main {
  background: #f4ebd0;
  width: 1440px;
  height: 614px;
  flex-shrink: 0;
}

.img-box {
  width: 316px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 27px;
  background: url("https://s3-alpha-sig.figma.com/img/38b5/be5b/aa1a8d78fd3fad7cdc6809e9444cbaad?Expires=1693785600&Signature=iljwz5wgR72sppk1tLjtQRmdSH4~s0essXz18~WI1Nsvq3mqqIIACCzxldjY-oT-F7eXnFetTEIBIL9bzO7Rjov3vuh~WjSOZWspxIAH21VeRi8TJu4iXb6lbdqrSK7~HYfIfOGmE8Hysv69ltguQDKScnAqTgbm7pPZr2YJF~ew3RfDnGm0~UYA4EfoqKNzsSADhcUm-1l48O8d5HpC6edFVt3krtFQLD9N5yMam-sBpTWVvVq6vzhX7ySrBtRtQeEg5JduPrTL3FNHSOU8p2mZAWGyTZeQviKiBWUz49BXYzmfUARAnwC3JnwRjGkvceRRS0PgDhYS2mfKDTgsQQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"),
    lightgray 50% / cover no-repeat;
  background-size: 316px 350px;
  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

.about-us-title {
  color: #122620;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.desc-box {
  background: #122620;
  /* height: 330px; */
  max-height: 330px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 0 22px 22px 22px;
  border-radius: 15px;

  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

.abtus-image-div {
  max-height: 330px;
  height: 330px;
  border-radius: 25px;
  /* width: auto; */
}

.abtus-image-div {
  @media (max-width: 1440px) {
    height: 400px;
  }

  @media (max-width: 1250px) {
    height: 380px;
  }

  @media (max-width: 1000px) {
    height: 820px;
  }

  @media (max-width: 750px) {
    height: 490px;
  }

  @media (max-width: 550px) {
    height: 250px;
  }
  @media (max-width: 350px) {
    height: 250px;
  }
}

.testm-main {
  /* background: #F4EBD0; */
  /* width: 1440px;
    height: 382px; */
  flex-shrink: 0;
}

.testm-card {
  border-radius: 25px;
  /* background: #122620; */
  width: 300px;

  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

.testm-card-img {
  /* width: 104px;
  height: 104px;
  flex-shrink: 0;
  background: url("https://javainstitute.edu.lk/img/faculty/dr-ishantha.jpg"),
    lightgray 50% / cover no-repeat;
  background-size: 104px 104px; */
  border-radius: 15px;
  /* height: 179px; */
  width: 100%;
}

.ld-tes-card-paragraph {
  /* color: #FFF; */
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-main {
  /* width: 1440px; */
  /* height: 148px;
    flex-shrink: 0;
    background: #060D0B; */
}

.singleProductImg-box {
  background: var(--dark);
}

.qty-changer-main-div {
  display: flex;
  align-items: center;
  justify-content: start;
}

.qty-changer-wrapper {
  height: 40px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b68b40;
  color: #ffffff;
  border-radius: 12px;
  /* box-shadow: 0 5px 10px rgb(0,0,0,0.2); */
}

.qty-changer-wrapper span {
  width: 100%;
  text-align: center;
  /* font-size: 20px; */
  font-weight: 500;
  cursor: pointer;
}

.qty-changer-wrapper span.num {
  /* font-size: 20px; */
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.item-selector-outline {
  outline: none;
  border: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.ALG-model-button {
  background-color: #d6ad60;
  border: none;
}

/* section2 */

/* service */

.alg-service-img {
  width: 50px;
  height: 50px;
}

/* profile page */

.alg-profile-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* main slider */

/* promotion slider */

.banner-main {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #122620;
  /* height: 433px; */
  flex-shrink: 0;
  color: #f4ebd0;
  font-size: 24px;
}

.promotionSwiper.swiper {
  width: 100%;
  /* max-height:30vh; */
  /* background: red; */
}

.promotionSwiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 250px;
}

.promotionSwiper.swiper-slide img {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  height: 50vh;
  border-radius: 20px;
}

/* category slider */

.categorySwiper.swiper {
  width: 100%;
}

.categorySwiper.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 300px;
  /* box-shadow: none; */
}

.categorySwiper.swiper-slide img {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  /* border-radius: 20px; */
}

/* best selling section */

.bestSellingSwiper.swiper {
  width: 100%;
}

.bestSellingSwiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 300px;
  /* box-shadow: none; */
}

.bestSellingSwiper.swiper-slide img {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
}


/* checkout section */
.checkoutSwiper.swiper {
  width: 100%;
}

.checkoutSwiper.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 200px;
  /* box-shadow: none; */
}

/* .checkoutSwiper.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
} */

.alg-shadow {
  box-shadow: 0px 0px 14px 15px rgba(142, 196, 140, 0.8);
}

/* landing page */
/* best selling section */
.ld-bs-card {
  height: 300px;
  border-radius: var(--rounded-mid);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gold);
  cursor: pointer;
  transition: var(--transition2);
}

.ld-bs-card:hover {
  transform: scale(103%);
  transition: var(--transition2);
}

.ld-bs-card-content {
  min-height: 100px;
  background-color: var(--tan);
  padding: 10px;
}

@media (min-width: 1440px) {
  .ld-s1-hero {
    min-height: max-content;
  }
}

/* products page */
/* search bar section */
.pp-search-btn {
  background-color: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 100px 0 0;
  transition: var(--transition1);
  cursor: pointer;
}

.pp-search-btn:hover {
  background-color: var(--tan);
  transition: var(--transition1);
}

.paycheck-main{
  height: 100vh;
}

.paycheck-prof-img {
  width: 120px;
  border-radius: 25px;
}

.paycheck-product-img {
  width: 150px;
  border-radius: 25px;
}

@media (max-width: 380px) {
  .paycheck-prof-img {
    width: 80px;
    height: 100px;
  }
}

.paycheck-thanku-img {
  width: 180px;
  border-radius: 25px;
}
