.scroll-container {
     max-height: 400px;
     /* Set the maximum height for the scrollable container */
     overflow-y: scroll;
     /* Enable vertical scrolling */
}



.alg-pc-img {
     width: 200px;
     height: 150px;
     object-fit: cover;
     border-radius: 15px;
}
.scroll-container{
     max-height: 400px;
     overflow: auto;
}

.alg-pc-border{
     border-bottom: 2px solid #b68b40 ;
}

@media (max-width: 440px) {
     .alg-pc-img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 15px;
     }
     .alg-pc-font{
          font-size: x-small;
     }
}