/* header */
.alg-logo-img {
  height: 60px;
}

.hd-marginLeft {
  margin-left: 110px;
}

.nav-box {
  opacity: 0;
  position: absolute;
  top: 60px;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 2s ease;
}

.nav-box.alg-nav-box {
  opacity: 1;
  max-height: 1000px;
  box-shadow: 0rem 0.4rem rgba(145, 88, 88, 0.1);
}

.alg-user-Word {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

.img {
  margin-left: -10px;
}


/* home */

.alg-main-img {
  width: 100%;
  height: 90vh;
  background-image: url("../resources/images/mainImg.png");
  background-size: cover;
  background-position: center; 
}

/* home slider */

.mainSlider.swiper {
  width: 100%;
  height: 46vh;
}

.mainSlider.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items:start;
  
}


/* category */

.category-swiper.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.category-swiper.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 280px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.about-us-main {
  background: #f4ebd0;
  width: 1440px;
  height: 614px;
  flex-shrink: 0;
}

.img-box {
  width: 316px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 27px;
  background: url("https://s3-alpha-sig.figma.com/img/38b5/be5b/aa1a8d78fd3fad7cdc6809e9444cbaad?Expires=1693785600&Signature=iljwz5wgR72sppk1tLjtQRmdSH4~s0essXz18~WI1Nsvq3mqqIIACCzxldjY-oT-F7eXnFetTEIBIL9bzO7Rjov3vuh~WjSOZWspxIAH21VeRi8TJu4iXb6lbdqrSK7~HYfIfOGmE8Hysv69ltguQDKScnAqTgbm7pPZr2YJF~ew3RfDnGm0~UYA4EfoqKNzsSADhcUm-1l48O8d5HpC6edFVt3krtFQLD9N5yMam-sBpTWVvVq6vzhX7ySrBtRtQeEg5JduPrTL3FNHSOU8p2mZAWGyTZeQviKiBWUz49BXYzmfUARAnwC3JnwRjGkvceRRS0PgDhYS2mfKDTgsQQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"),
    lightgray 50% / cover no-repeat;
  background-size: 316px 350px;
  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

.about-us-title {
  color: #122620;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.desc-box {
  background: #122620;
  height: 370px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 22px;

  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

/* .desc-box {
    @media (max-width:1550px) {
        height: 400px;
    }

    @media (max-width:1400px) {
        height: 380px;
    }

    @media (max-width:1300px) {
        height: 320px;
    }

    @media (max-width:1000px) {
        height: 290px;
    }

    @media (max-width:750px) {
        height: 250px;
    }
} */

/* width */
.scrollbar::-webkit-scrollbar {
  width: 20px;
  scroll-padding-right: 20px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #b68b40;
  border-radius: 10px;
  padding-right: 20px;
}

.testm-main {
  /* background: #F4EBD0; */
  /* width: 1440px;
    height: 382px; */
  flex-shrink: 0;
}

.testm-card {
  border-radius: 32px;
  /* background: #122620; */
  width: 350px;
  height: 179px;
  flex-shrink: 0;

  /* shadow */
  box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.2);
}

.testm-card {
  @media (max-width:320px) {
      width: 300px;
  }
}



.testm-card-img {
  /* width: 104px;
  height: 104px;
  flex-shrink: 0;
  background: url("https://javainstitute.edu.lk/img/faculty/dr-ishantha.jpg"),
    lightgray 50% / cover no-repeat;
  background-size: 104px 104px; */
  border-radius: 50%;
}

.card-para {
  /* color: #FFF; */
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-main {
  /* width: 1440px; */
  /* height: 148px;
    flex-shrink: 0;
    background: #060D0B; */
}

.ALG-singleProductImg-box {
  background: #122620;
}

.ALG-singleProduct-main {
  background: #f4ebd0;
}

.ALG-singleProduct-tag {
  background: #122620;
}

.ALG-singleProduct-btn {
  background: #b68b40;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.ALG-main-model {
  background: #122620;
}

.ALG-main-model2 {
  background: #f4ebd0;
}

.ALG-model-button {
  background-color: #d6ad60;
  border: none;
}

/* section2 */

/* service */

.alg-service-img {
  width: 50px;
  height: 50px;
}

/* profile page */

.alg-profile-round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* main slider */

/* promotion slider */

.banner-main {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #122620;
  /* height: 433px; */
  flex-shrink: 0;
  color: #f4ebd0;
  font-size: 24px;
}

.promotionSwiper.swiper {
  width: 100%;
  height: 100%;
}

.promotionSwiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 300px;
  /* box-shadow: none; */
}

.promotionSwiper.swiper-slide img {
  display: block;
  width: 100%;
  height: 30vh;
  /* object-fit: cover; */
  border-radius: 20px;
}

.alg-shadow {
  box-shadow: 0px 0px 14px 15px rgba(142, 196, 140, 0.8);
}

/* landing page */
/* best selling section */
.ld-bs-card {
  height: 100%;
  border-radius: var(--rounded-mid);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../resources/images/item1.png");
}

.ld-bs-card-content {
  min-height: 100px;
  background-color: var(--tan);
  padding: 10px;
}
