.banner-main{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #122620;
    height: 433px;
    flex-shrink: 0;
    color: #F4EBD0;
    font-size: 24px;
}


.about-us-main{
    background: #F4EBD0;
    width: 1440px;
    height: 614px;
    flex-shrink: 0;
}

.img-box{
    width: 316px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 27px;
    background: url("https://s3-alpha-sig.figma.com/img/38b5/be5b/aa1a8d78fd3fad7cdc6809e9444cbaad?Expires=1693785600&Signature=iljwz5wgR72sppk1tLjtQRmdSH4~s0essXz18~WI1Nsvq3mqqIIACCzxldjY-oT-F7eXnFetTEIBIL9bzO7Rjov3vuh~WjSOZWspxIAH21VeRi8TJu4iXb6lbdqrSK7~HYfIfOGmE8Hysv69ltguQDKScnAqTgbm7pPZr2YJF~ew3RfDnGm0~UYA4EfoqKNzsSADhcUm-1l48O8d5HpC6edFVt3krtFQLD9N5yMam-sBpTWVvVq6vzhX7ySrBtRtQeEg5JduPrTL3FNHSOU8p2mZAWGyTZeQviKiBWUz49BXYzmfUARAnwC3JnwRjGkvceRRS0PgDhYS2mfKDTgsQQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
    background-size: 316px 350px;
    /* shadow */
    box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.20);
}

.about-us-title{
    color: #122620;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}

.desc-box{
    background: #122620;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    padding: 22px;

    /* shadow */
    box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.20);
}
.desc-box{
    @media (max-width:1550px) {
        height: 400px;
    }
    @media (max-width:1400px) {
        height: 380px;
    }
    @media (max-width:1300px) {
        height: 320px;
    }
    @media (max-width:1000px) {
        height: 290px;
    }
    @media (max-width:750px) {
        height: 250px;
    }
}

/* width */
.scrollbar::-webkit-scrollbar {
    width: 20px;
    scroll-padding-right: 20px;
  }
  
  /* Track */
.scrollbar::-webkit-scrollbar-track {
    background: white; 
    border-radius: 10px;
  }
   
  /* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #B68B40; 
    border-radius: 10px;
    padding-right: 20px;
  }

.testm-main{
    background: #F4EBD0;
    /* width: 1440px;
    height: 382px; */
    flex-shrink: 0;
}

.testm-card{
    border-radius: 32px;
    background: #122620;
    width: 389px;
    height: 179px;
    flex-shrink: 0; 

    /* shadow */
    box-shadow: 0px 0px 22px 15px rgba(0, 0, 0, 0.20);
}

.testm-card-img{
    width: 104px;
    height: 104px;
    flex-shrink: 0;
    background: url("https://s3-alpha-sig.figma.com/img/38b5/be5b/aa1a8d78fd3fad7cdc6809e9444cbaad?Expires=1693785600&Signature=iljwz5wgR72sppk1tLjtQRmdSH4~s0essXz18~WI1Nsvq3mqqIIACCzxldjY-oT-F7eXnFetTEIBIL9bzO7Rjov3vuh~WjSOZWspxIAH21VeRi8TJu4iXb6lbdqrSK7~HYfIfOGmE8Hysv69ltguQDKScnAqTgbm7pPZr2YJF~ew3RfDnGm0~UYA4EfoqKNzsSADhcUm-1l48O8d5HpC6edFVt3krtFQLD9N5yMam-sBpTWVvVq6vzhX7ySrBtRtQeEg5JduPrTL3FNHSOU8p2mZAWGyTZeQviKiBWUz49BXYzmfUARAnwC3JnwRjGkvceRRS0PgDhYS2mfKDTgsQQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
    background-size: 104px 104px;
    border-radius: 50%;
}

.card-para{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-main{
    width: 1440px;
    height: 148px;
    flex-shrink: 0;
    background: #060D0B;
}

.ALG-singleProductImg-box{
    background:  #122620;
}

.ALG-singleProduct-main{
    background: #F4EBD0;
}

.ALG-singleProduct-tag{
    background: #122620;
}

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .ALG-main-model{
    background:  #122620;
  }

  .ALG-main-model2{
    background: #F4EBD0;
  }

  .ALG-model-button{
    background-color:  #D6AD60;
    border: none;
  }
