/* navbar */

/* produt  manipulation */
/* category */
.category-adding-preview {
  object-fit: contain;
  width: 300px;
  height: 250px;
}

/* product item */
.product-items-images {
  background-color: var(--light);
  min-width: 300px;
  height: 300px;
  overflow-x: auto;
}

.product-items-image-slide {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: contain;
}
